:root {
  --primary-bg: #ffffff;
  --text-color: #3d3d3d;
  --accent-color: #FDCB0A;
  --submenu-bg: hsl(0, 0%, 7%);
  --submenu-hover: #222;
  --footer-bg: #d1d1d1;
  --footer-text: #000000;
  --border-color: #444;
  --scroll-bar: #e7b55b;
  --logo-red: #ec1f24;
  --base-font-size: 1rem;
  --primary: #003366;
  --accent: #007BFF;
  --background: #f9fafb;
  --text: #222;
  --card-bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  background-color: var(--primary-bg);
  color: var(--text-color);
  padding: 0.72rem 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out, background 0.3s ease-in-out;
  border-bottom: 1px solid #000;
}

.logo {
  font-size: 1.5rem;
  /* 24px */
  font-weight: bold;
}

.logo img {
  width: 5rem;
  /* 100px */
}

nav {
  position: relative;
}

.nav-links {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
}

.nav-links>li {
  list-style: none;
  position: relative;
  font-size: 1.05rem;
}

.nav-links>li>a {
  color: var(--text-color);
  font-weight: 500;
  padding: 0.625rem;
  /* 10px */
  display: block;
}

.nav-links>li:hover>a {
  color: var(--accent-color);
}

.nav-links>li a.active {
  color: var(--logo-red);
}

.btn-container {
  width: 100%;
  height: 100%;
  margin: 0 auto 0;
}
.pulse-button span{
  width:30px;
  height:30px;
  position:absolute;
  right: 8px;
  top: 50%;
  transform: translate(-0%, -50%);
  color:#333;
  background:rgba(255,255,255,0.5);
  border-radius:50%;
  width:50px;
  height:50px;
  float:right;
}

.pulse-button span:before{
  font-family: FontAwesome;
  content:"\f095";
  width:20px;
  height:20px;
  display:block;
  margin:15px;
  -webkit-animation: wiggle 1.5s infinite;
	-moz-animation: wiggle 1.5s infinite;
	animation: wiggle 1.5s infinite;
}

.pulse-button i{
  font-size:15px;
  margin:0 auto;
  opacity:0.5;
  
}
.pulse-button {
   color:#333;
  font-size:18px;
  font-weight:bold;
  position: relative;
  width: 220px;
  padding: 15px;
  line-height:18px;
  text-align:left;
  /* height: 80px; */
  border: none;
  box-shadow: 0 0 0 0 rgba(255, 232, 160, 0.7);
  border-radius: 40px;
  background-color: #fed03d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(255, 160, 160, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(255, 160, 160, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(255, 160, 160, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(255, 160, 160, 0);}}


/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(15deg);}
	50% {-webkit-transform:rotate(-15deg);}
	100% {-webkit-transform:rotate(15deg);}
}
 
/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(15deg);}
	50% {-moz-transform:rotate(-15deg);}
	100% {-moz-transform:rotate(15deg);}
}
 
/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(15deg);}
	50% {transform:rotate(-15deg);}
	100% {transform:rotate(15deg);}
}

/* SMOOTH SUBMENU */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--primary-bg);
  min-width: 11.25rem;
  /* 180px */
  border-radius: 0.25rem;
  /* 4px */
  overflow: hidden;
  opacity: 0;
  transform: translateY(0.625rem);
  /* 10px */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  border: 1px solid var(--footer-text);
}

.nav-links li:hover .submenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.submenu a {
  padding: 0.625rem;
  /* 10px */
  color: var(--text-color);
  display: block;
  transition: background 0.3s;
}

.submenu a:hover {
  background: var(--submenu-hover);
  color: var(--footer-bg);
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  /* 24px */
  cursor: pointer;
  color: var(--scroll-bar);
}



main {
  padding: 7.5rem 1.875rem;
  /* 120px 30px */
}

/* FOOTER */
footer {
  background: var(--footer-bg);
  color: var(--text-color);
  padding: 3.125rem 1.875rem 1.25rem;
  /* 50px 30px 20px */
}

.footer-container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  /* 30px */
  justify-content: space-between;
}

.footer-column {
  flex: 1 1 13.75rem;
  /* 220px */
}

.footer-column .logo-footer img {
  width: 10.75rem;
  /* 172px */
}

.footer-column h4 {
  margin-bottom: 0.9375rem;
  /* 15px */
  color: var(--logo-red);
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 0.625rem;
  /* 10px */
  font-size: 0.875rem;
  /* 14px */
}

.footer-column h2 {
  padding: 20px 0;
}

.footer-column ul li a {
  color: var(--footer-text);
}

.footer-column ul li a:hover {
  color: var(--text-color);
}

.footer-bottom {
  text-align: center;
  margin-top: 1.875rem;
  font-size: 0.875rem;
  border-top: 1px solid var(--border-color);
  padding-top: 0.9375rem;
  color: var(--footer-text);
}

/* ------------------FADE-IN ANIMATION----------------- */
.fade-in {
  opacity: 0;
  transform: translateY(1.875rem);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Base class for scroll-in animations */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(1.875rem);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Fade-in Up */
.fade-up {
  transform: translateY(2.25rem);
}

/* Fade-in Left */
.fade-left {
  transform: translateX(-1.25rem);
}

.fade-left.visible {
  transform: translateX(0);
  opacity: 1;
}

/* Fade-in Right */
.fade-right {
  transform: translateX(1.25rem);
}

.fade-right.visible {
  transform: translateX(0);
  opacity: 1;
}

/* Scale In */
.scale-in {
  transform: scale(0.95);
}

.scale-in.visible {
  transform: scale(1);
  opacity: 1;
}

/* Rotate In */
.rotate-in {
  transform: rotate(-0.3125deg);
  /* -5px */
}

.rotate-in.visible {
  transform: rotate(0deg);
  opacity: 1;
}

/* --------------------FADE-IN ANIMATION--------------------- */


/* SCROLL TO TOP BUTTON */
/* Styling for the button and the circular progress */
.scroll-container {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 1000;
}

.scroll-to-top-btn {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 15px 20px;
  /* 20px */
  color: white;
  font-size: 1.5rem;
  /* 24px */
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-btn span {
  z-index: 999;
  color: #171717;
  font-weight: 900;
}

.scroll-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 0.3125rem solid var(--accent-color);
  /* 5px */
  /* background of the circle */
  background-image: conic-gradient(#4d9bff calc(var(--scroll-progress) * 1%), transparent 0);
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  /* Starts the circle from the top */
}

.scroll-to-top-btn:hover {
  transform: scale(1.1);
}


/* ---------------carusel-------------------- */

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 0 20px;
}

.content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.btn-group {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.btn.primary {
  background-color: #ff5e00;
  color: #fff;
}

.btn.primary:hover {
  background-color: #e04e00;
}

.btn.secondary {
  background-color: #fff;
  color: #000;
}

.btn.secondary:hover {
  background-color: #eee;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  line-height: 1.5rem;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  width: 50px;
  height: 50px;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* who we are */

.about-energy {
  padding: 60px 20px;
  /* background: #f9f9f9; */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content-area {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.text-section {
  flex: 1;
  min-width: 300px;
}

.text-section small {
  text-transform: uppercase;
  font-weight: 600;
  color: #666;
  display: block;
  margin-bottom: 10px;
}

.text-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-section p {
  color: #555;
  font-size: 1rem;
}

.checklist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.checklist li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.checklist li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #4CAF50;
  font-weight: bold;
}

.badge-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.badge {
  background: #fff;
  padding: 15px 20px;
  border-left: 5px solid #f3da0b;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.195);
}

.badge i {
  font-size: 2.5rem;
}

.read-more-btn {
  background: #f3da0b;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.read-more-btn:hover {
  background: #e6cb00;
}

/* Image section */
.image-section {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.image-section img {
  width: 100%;
  border-radius: 4px;
}

.play-button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background: #f3da0b;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 3px 3px 0 #fff;
  transition: ease-in-out 0.2s;
}

.play-button:hover {
  background: #bfac03;
  box-shadow: 3px 3px 0 #f3da0b;
}

/* Modal styles */
.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 450px;
  background: #000;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* services */


.solutions-section {
  padding: 80px 20px;
  /* background-color: #fff; */
}


/* Heading & Description */
.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  color: #666;
  font-size: 1rem;
  margin-bottom: 50px;
}

/* Grid Layout */
.solutions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* Cards */
.solution-card {
  position: relative;
  padding: 30px;
  background: #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.solution-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.solution-card p {
  font-size: 0.95rem;
  /* color: #555; */
  line-height: 1.5;
}

/* Highlighted card (first one) */
.solution-card:hover {
  background: rgb(0 148 218);
  color: white;
}

.solution-card.highlighted p {
  color: rgba(255, 255, 255, 0.8);
}

/* Icon wrapper */
.icon-wrapper {
  width: 65px;
  height: 65px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper img {
  width: 100%;
}

.solution-card.highlighted .icon-wrapper {
  border-color: rgba(255, 255, 255, 0.5);
}

/* Arrow */
.arrow-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(28, 183, 255);
  padding: 8px 12px;
  /* border-radius: 3px; */
  box-shadow: -3px 3px 0 #fff;
  transition: transform 0.2s ease;
}

.arrow-box span {
  font-size: 1.1rem;
  font-weight: 900;
  color: #ffffff;
}

.solution-card:hover .arrow-box {
  transform: translate(-2px, -2px);
}


.workshop-section {
  padding: 60px 20px;
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.tab-list {
  flex: 1;
  min-width: 200px;
}

.tab-item {
  font-size: 1.2rem;
  padding: 15px 20px;
  cursor: pointer;
  color: #bebebe;
  position: relative;
  transition: all 0.3s ease;
}

.tab-item.active {
  color: #000;
  font-weight: 600;
  border-left: 4px solid #0077cc;
  background: #f9f9f9;
}

.tab-content-wrapper {
  flex: 2;
  min-width: 300px;
  transition: all 0.5s ease;
}

.tab-content {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.tab-content h2 {
  margin-top: 0;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding-bottom: 10px;
}

.tab-content p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #444;
}

.tab-content-list {
  padding: 10px 20px;
}

.tab-content-list li {
  padding-bottom: 6px;
}

.tab-image-wrapper {
  flex: 1.5;
  min-width: 280px;
  position: relative;
}

.tab-image {
  width: 100%;
  display: none;
  border-radius: 12px;
  transition: opacity 0.5s ease;
  object-fit: cover;
}

.tab-image.active {
  display: block;
  opacity: 1;
}


/* certification */
.cert-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}


.thumbnail-carousel {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
  max-width: 500px;
}

.thumbnail-carousel img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: 0.3s ease;
  cursor: pointer;
}

.thumbnail-carousel img.active {
  border-color: #e30740;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.preview-area {
  position: relative;
  flex: 1;
  min-width: 350px;
  text-align: center;
  margin-bottom: 35px;
}

.preview-area img {
  max-height: 420px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.323);
}

.cert-code {
  font-weight: bold;
  font-size: 18px;
  margin-top: 16px;
}

.arrows {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.arrow-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #ddd;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.arrow-btn:hover {
  background: #e30740;
  color: #fff;
  border-color: #e30740;
}

.arrow-btn.red {
  background: #e30740;
  color: #fff;
  border: none;
}




/* about us */
.aboutus-banner {
  background-image: url(https://images.unsplash.com/photo-1468787737698-f5c03f0570dd?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 70vh;
  position: relative;
}

.about-content {
  padding: 40px;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.who-we-are {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.who-we-are h2 {
  font-size: 2rem;
  line-height: 2.1rem;
  padding: 20px 0;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}



.made-with {
  background: #fd264f;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}

.documentation {
  color: #fd264f;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.About-tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.About-tabs [class^="tab"] label,
.About-tabs [class*=" tab"] label {
  color: #0e0e0e;
  font-weight: bold;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

.About-tabs [class^="tab"] [type="radio"],
.About-tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.About-tabs [class^="tab"] [type="radio"]:hover,
.About-tabs [class^="tab"] [type="radio"]:focus,
.About-tabs [class*=" tab"] [type="radio"]:hover,
.About-tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fd264f;
}

.About-tabs [class^="tab"] [type="radio"]:checked,
.About-tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fd264f;
}

.About-tabs [class^="tab"] [type="radio"]:checked+div,
.About-tabs [class*=" tab"] [type="radio"]:checked+div {
  opacity: 1;
}

.About-tabs [class^="tab"] [type="radio"]+div,
.About-tabs [class*=" tab"] [type="radio"]+div {
  display: block;
  opacity: 0;
  padding: 2rem 1rem;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.About-tabs .tab-2 {
  width: 50%;
}

.About-tabs .tab-2 [type="radio"]+div {
  width: 200%;
  margin-left: 200%;
}

.About-tabs .tab-2 [type="radio"]+div h4 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--logo-red);
  /* text-align: center; */
}


.About-tabs .tab-2 [type="radio"]:checked+div {
  margin-left: 0;
}

.About-tabs .tab-2:last-child [type="radio"]+div {
  margin-left: 100%;
}

.About-tabs .tab-2:last-child [type="radio"]:checked+div {
  margin-left: -100%;
}

.core-values-section {
  width: 100%;
  /* min-height: 100vh; */
  padding: 0px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-bg);
}

.core-values-section h1 {
  text-align: center;
  color: var(--logo-red);
  margin-bottom: 40px;
  font-size: 3rem;
}

.brand-specitize {
  padding-bottom: 15px;
}

.core-values-section .value {
  padding: 20px;
}

.core-values-section .value:hover {
  background-color: var(--footer-bg);
}

.core-values-section .value h2 {
  font-size: 1.8rem;
  color: var(--logo-red);
  margin-bottom: 10px;
}

.core-values-section .value p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--submenu-hover);
}



/* contact us page */
/* .contact_us_2 * {
  font-family: Nunito, sans-serif;
} */

.contact_us_2 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact_us_2 .responsive-cell-block {
  min-height: 75px;
}

.contact_us_2 input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_2 .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.contact_us_2 .submit-btn:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #0071a5;
}

.contact_us_2 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.contact_us_2 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
  height: auto;
}

.contact_us_2 .responsive-container-block.container {
  position: static;
  min-height: 75px;
  flex-direction: column;
  z-index: 2;
  max-width: 800px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.contact_us_2 .container-block.form-wrapper {
  background-color: white;
  max-width: 799px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
}

.contact_us_2 .text-blk.contactus-subhead {
  color: #9c9c9c;
  margin-bottom: 15px;
}

.contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

.contact_us_2 .input {
  width: 96%;
  height: 40px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .textinput {
  width: 98%;
  min-height: 100px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .submit-btn {
  width: 98%;
  background-color: #0094da;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.contact_us_2 .form-box {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .social-media-links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .link-img {
  width: 30px;
  height: 30px;
}

.contact_us_2 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #414141;
}

.contact_us_2 ::placeholder {
  color: #cdcdcd;
  font-size: 16px;
}

.contact_us_2 .blueBG {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 300px;
  background-color: #0094da;
}





.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}



/* mission vision */
.missiom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 10%;
  /* opacity: 0; */
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.missiom-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.missiom-section:nth-child(even) {
  flex-direction: row-reverse;
}

.missiom-section img {
  width: 45%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.missiom-section .text-content {
  width: 55%;
}

.missiom-section .text-content ul {
  padding: 5px 5px 0 20px;
}

.missiom-section .text-content ul li {
  font-size: 1.05rem;
  line-height: 1.7;
  padding-bottom: 5px;
}

.missiom-section h2 {
  font-size: 2rem;
  color: var(--accent);
  margin-bottom: 15px;
}

.missiom-section p {
  font-size: 1.05rem;
  line-height: 1.7;
}




.about-brand-section {
  padding: 40px 0;
}

.about-values-section .value {
  padding: 10px;
}

.about-brand-section p.description {
  margin-bottom: 0;
}

.about-values-section .value h2 {
  font-size: 1.5rem;
  color: var(--primary);
}

.about-values-section .value p{
  padding: 6px;
}

.brands-section {
  padding: 60px 20px;
  text-align: center;
}

.brands-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.brands-grid {
  /* max-width: 1100px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 30px;
  align-items: center;
  /* margin: 0 auto; */
  /* justify-items: center; */
}

.brand-logo {
  width: 100%;
  max-width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--background);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.brand-logo img {
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
}
